streamlit>=1.37.0
pandas>=2.2.0
numpy>=1.26.4
plotly>=5.24.0
requests>=2.32.3
openpyxl>=3.1.5
kaleido==0.2.1


chromium-browser
libglib2.0-0
libnss3
libx11-xcb1
libxcb1
libxcomposite1
libxdamage1
libxext6
libxfixes3
libxrandr2
libxrender1
libxss1
libxtst6
fonts-liberation
ca-certificates
